html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $white;
}

body {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

#app {
  height: 100%;
}
